.entry1
{
  width: 100%;
  height: 300px;
  background-image: url('image/청소1.jpg');

}
.entry2
{
  width: 100%;
  height: 300px;
  background-image: url('image/청소2.jpg');

}
.entry3
{
  width: 100%;
  height: 300px;
  background-image: url('image/청소2.jpg');

}
.title
{
  text-shadow: 1px 1px 2px #5555;
  color: white;
  padding-top: 107px;
  text-align: center;
  font-size: 55px;
  
}
.title2
{
  color: red;
  text-align: center;
  font-size: 35px;
}
article
{
  background-color: cornsilk;
  text-align: center;
  height: 128px;
  line-height: 100px; 
  margin: 0 auto;
}
.font
{
  color: aquamarine;
  font-size: 54px;
}
td > img
{
  width: 250px;
  height: 250px;
}
.span1
{
  text-align: center;
  background-color: brown;
  height: 128px;
  display: inline-block;
  width: 46%;
}
article .span2
{
  text-align: right;
  background-color: coral;
  display: block;
  width: 50%;

}


@media screen and (max-width : 768px)
{
  .title
  {
    text-shadow: 1px 1px 2px #5555;
    color: white;
    padding-top: 107px;
    text-align: center;
    font-size: 35px;
    
  }
  .title2
  {
    color: red;
    text-align: center;
    font-size: 25px;
  }
}







